@page

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="container" class="page-loading">
    <div id="sideBar">
        <section>
            <div class="section-title">CHANNELS</div>
            @foreach (var channel in Model.Channels) {
                var isActive = "";
                if (channel.Id == Model.SelectedChannel?.Id) {
                    isActive = "active-item";
                }
                <a asp-page="./Index" asp-route-channelId="@channel.Id">
                    <div class="sidebar-item @isActive">
                        #&nbsp;
                        @Html.DisplayFor(model => channel.Name)
                    </div>
                </a>
            }
        </section>

        <section>
            <div class="section-title">DIRECT MESSAGES</div>
            @foreach (var user in Model.DirectMessageUsers) {
                var isActive = "";
                if (user.Id == Model.SelectedUser?.Id) {
                    isActive = "active-item";
                }
                <a asp-page="./Index" asp-route-selectedUserId="@user.Id">
                    <div class="sidebar-item @isActive">
                        #&nbsp;
                        @Html.DisplayFor(model => user.DisplayName)
                    </div>
                </a>
            }
        </section>
    </div>
   
    
</div>

@section Scripts
    {
    <script>
        var app = {};
        app.selectedChannelId = "@Model.IsChannel" === "True" ?
            @(Model.SelectedChannel?.Id??0) : undefined;
        app.selectedUserId = "@Model.IsChannel" === "False" ?
            @(Model.SelectedUser?.Id??0) : undefined;

        signalRController.init(app.selectedChannelId);
        mainController.init("@Model.SelectedName");
    </script>
}
