@page "{channelID:int?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="container" class="page-loading">
    <div id="sideBar">
        <h2>Channels</h2>
        @foreach (var channel in Model.Channels)
        {
            var isActive = "";
            if (channel.ID == Model.SelectedChannel.ID)
            {
                isActive = "active-channel";
            }
            <a asp-page="./Index" asp-route-channelID="@channel.ID">
                <div class="channel-item @isActive">
                    #&nbsp;
                    @Html.DisplayFor(model => channel.Name)
                </div>
            </a>
        }
    </div>

    <div id="content">
        <div class="content-header">
            <div class="channel-name">
                #@Model.SelectedChannel.Name
            </div>
            <div class="channel-topic">
                @Model.SelectedChannel.Topic
            </div>
        </div>
        <div class="message-container">
            <div class="message-scrollable">
                @foreach (var message in Model.SelectedChannel.Messages)
                {
                    <div class="message-item">
                        <div class="message-title">
                            @message.User.DisplayName
                            &nbsp;
                            @message.CreatedDate.ToShortTimeString()
                        </div>
                        <div class="message-content">
                            @Html.Raw(message.Content)
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="footer">
            <form id="messageForm" method="post">
                <input type="hidden" name="channelId" value="@Model.SelectedChannel.ID" />
                <input type="hidden" name="newMessage"/>
                <div class="message-box">
                    <div id="messageEditor">
                    </div>
                </div>
            </form>
            <div class="message-prompt">
                <b>*bold*</b>&nbsp;
                <span class="grey-background">`code`</span>&nbsp;
                <span class="grey-background">```preformatted```</span>&nbsp;
                <i>_italics_</i>&nbsp;
                <span>~strike~</span>&nbsp;
                <span>>quote</span>&nbsp;
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        var app = {};
        app.channelID = @Model.SelectedChannel.ID;

        signalRController.init(app.channelID);
        mainController.init("@Model.SelectedChannel.Name");
    </script>
}
