@page "{channelID:int?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="container">
    <div id="sideBar">
        <h2>Channels</h2>
        @foreach (var channel in Model.Channels) {
            var isActive = "";
            if (channel.ID == Model.SelectedChannel.ID) {
                isActive = "active-channel";
            }
            <a asp-page="./Index" asp-route-channelID="@channel.ID">
                <div class="channel-item @isActive">
                    #&nbsp;
                    @Html.DisplayFor(model => channel.Name)
                </div>
            </a>
        }
    </div>

    <div id="content">
        <div class="content-header">
            <div class="channel-name">
                #@Model.SelectedChannel.Name
            </div>
            <div class="channel-topic">
                @Model.SelectedChannel.Topic
            </div>
        </div>
        <div class="message-container">
            <div class="message-scollable">
                messages
            </div>
        </div>

        <div class="footer">
            <form method="post">
                <input type="hidden" name="channelId" value="@Model.SelectedChannel.ID"/>
                <div class="message-box">
                    <input name="newMessage">
                </div>
            </form>
        </div>
    </div>
</div>